    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: 180px;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    input[type="number"] {
        width: 100%;
        padding: 9px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
        
    }
    button {
        background-color: #505edd;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        background-color: rgb(77, 72, 146);
    }
    .result {
        margin-top: 20px;
        font-weight: bold;
        font-size: large;
    }
    .hidden {
        display: none;
    }
    img{
        width: 50px;
        height: auto;
    }
    
